<h2>National Safari Pokedex</h2>

<% @pokemons.each do |pokemon| %>
<div class="pokedex">
  <h3><%= link_to  "National Pokedex #", pokemon_path(pokemon) %><%= link_to  pokemon.dexnum, pokemon_path(pokemon) %></h3>
  <h3><%= pokemon.name %></h3>
  <img src="<%= pokemon.image %>"/>
  <h4>Type: <%= pokemon.poke_types %></h4>
  <p>Pokedex Entry: <%= pokemon.description %></p>
  <p>Catch Rate: <%= pokemon.catch_rate %></p>
  <p>Run Rate: <%= pokemon.run_rate %></p>
</div>
<% end %>
