<div class="pokedex">
  <h1>National Dex #<%= @pokemon.dexnum %><h1>
  <h2><%= @pokemon.name %></h2>
  <img src="<%= @pokemon.image %>" height="300" width="300" data-id=<%= @pokemon.id %> />
  <h4>Type: <%= @pokemon.poke_types %></h4>
  <p><b>Description:</b> <%= @pokemon.description %></p>
  <p><b>Catch Rate:</b> <%= @pokemon.catch_rate %></p>

 <%= link_to "Back to Pokedex", pokemons_path %>
</div>