<!DOCTYPE html>
<html>
<head>
  <title>SafariZone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if current_user %>
  <div class= "top">
    <h1>Safari Zone</h1> <img src="http://images1.wikia.nocookie.net/__cb20110615101343/pokemon/images/4/46/Safari_Ball.png">
    <p>Ready to catch Pokemon <%= current_user.username %>?  
    <%= link_to 'Log Out', sessions_path, method: :delete %></p>
    <%= link_to 'National Safari Pokedex', pokemons_path %><br>
    <%= link_to 'To the Safari!', root_path %><br>
    <%= link_to 'Trainer List', trainers_path %><br>
  </div>

<% else %>

  <div class= "top">
      <h1>Safari Zone</h1>
      <img src="http://images1.wikia.nocookie.net/__cb20110615101343/pokemon/images/4/46/Safari_Ball.png">
      <h2>You Must Be Logged In Order To Play</h2>
      <%= link_to 'Sign Up', new_trainer_path %><br>
      <%= link_to 'Log In', sessions_new_path %><br>
      <%= link_to 'National Safari Pokedex', pokemons_path %><br>
  </div>
<% end %>


<%= yield %>

</html>
