<h3>Trainer Log In</h3>

<%= form_tag('/sessions', :class => 'log_form')  do %>
  <br>
  <%= label_tag :username %><br>
  <br>
  <%= text_field_tag :username %><br>
  <br>
  <%= label_tag :password %><br>
  <br>
  <%= password_field_tag :password %><br>
  <br>
  <%= submit_tag 'Log In' %>

<% end %>